@{
    Layout = "_Layout";
}

<h1>Review Info:</h1>
<ul>
    <li>ID: @Model.ReviewId</li>
    <li>Country: @Model.Country</li>
    <li>City: @Model.City</li>
    <li>Username: @Model.User_Name</li>
    <li>User Review: @Model.Details</li>
    <li>Rating: @Model.Rating</li>
</ul>
<br>

<p>@Html.ActionLink("Back to reviews", "Index", "Reviews")</p>
<p>@Html.ActionLink("Edit Review", "Edit", new { id = Model.ReviewId })</p>
<p>@Html.ActionLink("Delete Review", "Delete", new { id = Model.ReviewId })</p>