@{
    Layout = "_Layout";
}

@model TravelClient.Models.Review

<h1>Edit Info:</h1>
<form action="/Reviews/Details/@(Model.ReviewId)" method="post">
    <label for="country">Country's Name</label>
    <input type="text" id="country" name="country" value="@(Model.Country)">
    <br>
    <label for="city">City's Name</label>
    <input type="text" id="city" name="city" value="@(Model.City)">
    <br>
    <label for="userReview">User's Review</label>
    <input type="text" id="userReview" name="userReview" value="@(Model.UserReview)">
    <br>
    <label for="rating">Rating</label>
    <input type="number" id="rating" name="rating" value="@(Model.Rating)">
    <br>
    <label for="userName">User Name</label>
    <input type="text" id="userName" name="userName" value="@(Model.UserName)">
    <br>
    <button type="submit">Go!</button>
</form>

<p>@Html.ActionLink("Return to Details", "Details", new { id = Model.ReviewId })</p>